.btn-flat {
  color: #b3d1ff;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  background: #888888;
}
.btn-flat:hover {
  position:relative;
  top:1px;
  opacity: 0.9;
  text-decoration: none;
  font-weight: lighter;
}
